body
{
  background-image: url("https://66.media.tumblr.com/3b91207f219da2649b8bc78466699eed/tumblr_nq7oj8mNyP1upfqh4o1_500.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #010303;
}

* {
  box-sizing: border-box;
}

@font-face {font-family:"VCR OSD Mono";
  src:url("font/VCR_OSD_Mono/VCR_OSD_MONO.eot") format("eot"),
  url("font/VCR_OSD_Mono/VCR_OSD_MONO.woff") format("woff"),
  url("font/VCR_OSD_Mono/VCR_OSD_MONO.ttf") format("truetype"),
  url("font/VCR_OSD_Mono/VCR_OSD_MONO.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}

h1
{
font-size: 3em;
font-family: 'VCR OSD Mono', Arial, sans-serif;
text-align: center;
color: white;
text-shadow: #000000 1px 1px, #000000 -0.3px 0.3px, #000000 -0.3px -0.3px, #000000 0.3px -0.3px;
width: 500px;
margin: 0 auto; /* centre */
padding-top:150px;
}

li
{
  list-style: square; /* Enlève les puces des listes */
}

h2
{
  font-size: large;
  font-family: 'VCR OSD Mono', Arial, sans-serif;
  text-align: center;
  color: white; 
  text-shadow: #000000 1px 1px, #000000 -0.3px 0.3px, #000000 -0.3px -0.3px, #000000 0.3px -0.3px;
  width: 500px;
  margin: 0 auto; /* centre */
  margin-top:50px;
}

ul
{
  font-size: x-large;
  font-family: 'VCR OSD Mono', Arial, sans-serif;
  text-align: center;
  color: white;
  text-shadow: #000000 1px 1px, #000000 -0.3px 0.3px, #000000 -0.3px -0.3px, #000000 0.3px -0.3px;
  margin: 0 auto;
  width: 500px;
  margin-top:50px;
}

#ul1:hover {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#ul2:hover {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

strong
{
  font-weight: bold;
}



a
{
  color: white;
  text-decoration: none; /* Enlève le soulignement des anchors */
}