li {
  list-style: square; /* Enlève les puces des listes */
  opacity: 0.5;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 150px;
  text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
    0px -1px 3px rgba(12, 79, 251, 0.5), -3px 0px 2px rgba(52, 251, 12, 1);
  animation: chromaticMove 4500ms ease infinite, pulse ease 1000ms infinite;
}

body {
  background-image: url("https://66.media.tumblr.com/3b91207f219da2649b8bc78466699eed/tumblr_nq7oj8mNyP1upfqh4o1_500.gif");
  background-color: #010303;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; /* le background se resize avec la taille de la fenêtre automatiquement */
  overflow: hidden; /* cache barre déroulante*/
}

.menu {
  font-family: "VCR OSD Mono", Arial, sans-serif;
  text-decoration: none;
  color: white;
  position: absolute;
  margin-left: 32em;
  margin-top: -3em;
  text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
    0px -1px 3px rgba(12, 79, 251, 0.5), -3px 0px 2px rgba(52, 251, 12, 1);
  animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;
}

.menu:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ol a {
  font-family: "VCR OSD Mono", Arial, sans-serif;
  text-decoration: none;
  color: white;
  text-shadow: 2px 1px 1px rgba(251, 12, 12, 1),
    -4px -1px 10px rgba(12, 79, 251, 0.5), -1px 0px 1px rgba(52, 251, 12, 1);
  animation: chromaticMove 500ms ease infinite, pulse ease 200ms infinite;
}

#pedaledure {
  padding-top: 150px;
}

#people {
  padding-top: 150px;
}

#lefilsdumask {
  padding-top: 150px;
}

@keyframes pulse {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes chromaticMove {
  0% {
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
      0px -1px 3px rgba(12, 79, 251, 0.5), 0px 0px -2px rgba(52, 251, 12, 1);
  }
  50% {
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
      0px -1px 3px rgba(12, 79, 251, 0.5), -3px 2px 3px rgba(52, 251, 12, 1);
  }
  100% {
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
      0px -1px 3px rgba(12, 79, 251, 0.5), 2px -1px 2px rgba(52, 251, 12, 1);
  }
}
